---
    import { SignedIn, SignedOut, UserButton, SignInButton } from "@clerk/astro/components";
---
<header class="w-full bg-[#F5F7FA] flex p-4">
    <div class="flex flex-row justify-between items-center mr-12 mt-2 mb-4">
        <div class="w-full container justify-around block ml-4">
            <h1 class="text-[#2C3E50] text-2xl font-bold" href="/">ProgressoDev - Creación de Roadmaps</h1><!-- Título de presentación -->
            <p class="text-[#34495E] text-lg mt-2 font-normal">Genera roadmaps de aprendizaje de programación</p><!-- Descripción de la página -->
        </div>
    </div>
    <div class="h-6 mt-2 flex items-center p-4 right-0 ml-auto mb-4">
        <div class="container flex flex-row justify-end mr-5 p-1">
            <SignedOut>
                <SignInButton mode="modal" class="bg-[#2980B9] text-white font-bold h-10 px-3 py-2 rounded-lg hover:bg-[#2929b9] transition duration-300 ease-in-out">
                    Iniciar sesión
                </SignInButton>
            </SignedOut>
            <SignedIn>
                <UserButton afterSignOutUrl="/" 
                    appearance={{
                        elements: {
                            avatarBox: "rounded-full h-20 w-20 overflow-hidden",
                            userButtonTrigger: "focus:outline-none hover:opacity-80 transition duration-300"
                        }
                    }}
                />
            </SignedIn>
        </div>
    </div>
</header>